.button {
  text-align: center;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  padding: 7px;
  // margin: 7px;
  cursor: pointer;
  &.bottom-fixed {
    z-index: 2;
    position: fixed;
    bottom: 5px;
    width: calc(100% - 30px);
  }
  &__black {
    color: #fff;
    background: #222;
  }
  &__grey100 {
    color: #fff;
    background: #444;
  }
  &__grey200 {
    color: #fff;
    background: #666;
  }
  &__grey300 {
    color: #fff;
    background: #888;
  }
  &__grey400 {
    color: #fff;
    background: #aaa;
  }
}
