.home {
  .list-node {
    padding: {
      top: 5px;
    }
    .node-head {
      position: relative;
      border: 1px solid #777;
      padding: {
        left: 30px;
      }
      * {
        cursor: pointer;
      }
      .toggle {
        position: absolute;
        left: 10px;
        height: 100%;
        transition: 0.2s;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    .node-body {
      border: 1px solid #777;
      border-top: none;
      padding: 0 10px;
      opacity: 0;
      // transition: 0.2s;
      height: 0;
    }
    &.open {
      .toggle {
        rotate: 90deg;
      }
      .node-body {
        padding: 5px 18px;
        height: auto;
        opacity: 1;
      }
    }
  }
  .home-bottom-fixed {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: calc(100% - 16px);
    background: #fff;
    * {
      margin: 9px 0;
    }
  }
}
