.training {
  .card,
  .cover,
  .retry {
    width: calc(100% - 16px);
    height: calc(100vh - 70px);
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
  }
  .card {
    z-index: 1;
    &.answer {
      .disease {
        display: hidden;
      }
    }
    span {
      width: 100%;
    }
    .button-right-wrong {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      margin: {
        top: 20px;
      }
      * {
        width: 75px;
        height: 75px;
        padding: {
          right: 15px;
          left: 15px;
        }
        &.wrong {
          transform: scale(1.25);
        }
      }
    }
  }
  .cover {
    z-index: 2;
  }
}
