.training {
  .card,
  .cover,
  .retry {
    width: calc(100% - 16px);
    height: calc(100vh - 70px);
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
  }
  .card {
    z-index: 1;
    &.answer {
      .disease {
        display: hidden;
      }
    }
    span {
      width: 100%;
    }
    .button-right-wrong {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      margin: {
        top: 20px;
      }
      * {
        width: 125px;
        height: 125px;
        padding: {
          right: 15px;
          left: 15px;
        }
        &.wrong {
          transform: scale(1.25);
        }
      }
    }
  }
  .cover {
    z-index: 2;
  }
  .remaining-questions {
    position: fixed;
    z-index: 3;
    width: calc(100% - 16px);
    text-align: center;
    bottom: 10px;
  }
}

.minimum-card {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}
.minimum-button-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
